/* ---------------Education page------------ */

#EducationBanner{
background: linear-gradient(175deg,rgba(2, 121, 173, 1) 10%, rgba(1, 50, 71, 1) 100%);
}


#EducationBanner .btn{
border: 1px solid #fff;
color: #fff;
}

#EducationBanner .btn:hover{
color: #000;
}

#It-Education{
background-image: url(../images/Education/It-solution-education.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.crd-education {
  display: flex;
  justify-content: center;
  border-radius: 8px 8px 0px 8px;
}

.edu-cards-new{
  min-height: 320px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  box-shadow: 3px 3px 10px #e7e7e7;
  transform: translate(8px, 8px);
}

#Edu-Industry-Solutions .container .row :nth-child(1) .crd-education{
 background-color: red;
}
#Edu-Industry-Solutions .container .row :nth-child(2) .crd-education{
  background-color: #FFE83C;
}
#Edu-Industry-Solutions .container .row :nth-child(3) .crd-education{
  background-color: #1CFF8D;
}
#Edu-Industry-Solutions .container .row :nth-child(4) .crd-education{
  background-color: #3E74FF;
}

#Edu-Industry-Solutions .container :nth-child(1).edu-cards-new {
  background-image: url(../images/Education/cards-img/01.png);
}
#Edu-Industry-Solutions .container :nth-child(2).edu-cards-new{
  background-image: url(../images/Education/cards-img/02.png);
}
#Edu-Industry-Solutions .container :nth-child(3).edu-cards-new{
  background-image: url(../images/Education/cards-img/03.png);
}
#Edu-Industry-Solutions .container :nth-child(4).edu-cards-new{
  background-image: url(../images/Education/cards-img/04.png);
}

#Edu-Industry-Solutions .row-gap{
gap: 30px;
}

#Edu-Industry-Solutions .row-gap .col-12.col-md-6 {
    max-width: 554px !important;
}
/* End */

/* media */
@media (max-width:1024px) {
#Edu-Industry-Solutions .container .row-gap {
    row-gap: 24px;
    column-gap: 0;
}
}
@media (max-width:820px) {
    .edu-cards-new {
    min-height: 350px;
    }
}
@media (max-width: 768px) {
    /* Education page */
#Edu-Industry-Solutions .row-gap{
 gap:auto;
}
#EducationBanner .row-gap .col-md-6 {
    max-width:auto !important;
}
}

@media (max-width:576px) {

  .payment-icons-wpr img {
      width: 40px;
  }

    .edu-cards-new {
      transform: translate(0px, 8px);
    }
}

@media (min-width: 1442px) {
  /* Education page */
  .edu-cards-new {
    height: 54vh;
  }
}