/* left side bar */
.category-list li {
  padding: 6px 0;
}

.category-list li a {
  text-decoration: none;
  display: flex;
  justify-content: start;
  gap: 5px;
  color: #676767;
}

.category-list li a:hover {
  color: #001e6b;
  font-weight: 500;
}
.card-body .category-list li a i {
  transform: rotate(326deg);
  display: inline-block;
  font-size: small;
}

.bi-arrow-right-short::before {
  content: "\f135";
  font-size: 18px;
}

/* right side section */

.form-explore-style input,
.form-explore-style textarea {
  background-color: #e2edff;
  border: 1px solid #c3d7ff;
}
/* middle section */
.position-set {
  margin-top: -150px;
  margin-bottom: 50px;
}

.more-btn-wrapper a {
  max-width: 328px;
}
/* media query */
@media (max-width: 576px) {
  .more-btn-wrapper a {
    width:100%;
  }

.position-set {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-blog-details-sec .card.position-sticky{
  position: unset !important;
}
}
